.light-purple{background-color:#ad7fa8!important;color:#eeeeec!important}
.purple{background-color:#75507b!important;color:#eeeeec!important}
.dark-purple{background-color:#5c3566!important;color:#eeeeec!important}
.light-blue{background-color:#729fcf!important;color:#eeeeec!important}
.blue{background-color:#3465a4!important;color:#eeeeec!important}
.dark-blue{background-color:#204a87!important;color:#eeeeec!important}
.light-green{background-color:#8ae234!important;color:#2e3436!important}
.green{background-color:#73d216!important;color:#2e3436!important}
.dark-green{background-color:#4e9a06!important;color:#eeeeec!important}
.light-yellow{background-color:#fce94f!important;color:#2e3436!important}
.yellow{background-color:#edd400!important;color:#2e3436!important}
.dark-yellow{background-color:#c4a000!important;color:#eeeeec!important}
.light-orange{background-color:#fcaf3e!important;color:#2e3436!important}
.orange{background-color:#f57900!important;color:#2e3436!important}
.dark-orange{background-color:#ce5c00!important;color:#eeeeec!important}
.light-red{background-color:#ef2929!important;color:#eeeeec!important}
.red{background-color:#cc0000!important;color:#eeeeec!important}
.dark-red{background-color:#a40000!important;color:#eeeeec!important}
.light-brown{background-color:#e9b96e!important;color:#2e3436!important}
.brown{background-color:#c17d11!important;color:#eeeeec!important}
.dark-brown{background-color:#8f5902!important;color:#eeeeec!important}
.light-gray{background-color:#d3d7cf!important;color:#2e3436!important}
.gray{background-color:#babdb6!important;color:#2e3436!important}
.dark-gray{background-color:#888a85!important;color:#eeeeec!important}
.white{background-color:#eeeeec!important;color:#2e3436!important}
.transparent{background-color:transparent!important;color:#2e3436!important}
.black{background-color:#2e3436!important;color:#eeeeec!important}

.text-light-purple{color:#ad7fa8!important}
.text-purple{color:#75507b!important}
.text-dark-purple{color:#5c3566!important}
.text-light-blue{color:#729fcf!important}
.text-blue{color:#3465a4!important}
.text-dark-blue{color:#204a87!important}
.text-light-green{color:#8ae234!important}
.text-green{color:#73d216!important}
.text-dark-green{color:#4e9a06!important}
.text-light-yellow{color:#fce94f!important}
.text-yellow{color:#edd400!important}
.text-dark-yellow{color:#c4a000!important}
.text-light-orange{color:#fcaf3e!important}
.text-orange{color:#f57900!important}
.text-dark-orange{color:#ce5c00!important}
.text-light-red{color:#ef2929!important}
.text-red{color:#cc0000!important}
.text-dark-red{color:#a40000!important}
.text-light-brown{color:#e9b96e!important}
.text-brown{color:#c17d11!important}
.text-dark-brown{color:#8f5902!important}
.text-light-gray{color:#d3d7cf!important}
.text-gray{color:#babdb6!important}
.text-dark-gray{color:#888a85!important}
.text-white{color:#eeeeec!important}
.text-transparent{color:transparent!important}
.text-black{color:#2e3436!important}

.border-light-purple{border-color:#ad7fa8!important}
.border-purple{border-color:#75507b!important}
.border-dark-purple{border-color:#5c3566!important}
.border-light-blue{border-color:#729fcf!important}
.border-blue{border-color:#3465a4!important}
.border-dark-blue{border-color:#204a87!important}
.border-light-green{border-color:#8ae234!important}
.border-green{border-color:#73d216!important}
.border-dark-green{border-color:#4e9a06!important}
.border-light-yellow{border-color:#fce94f!important}
.border-yellow{border-color:#edd400!important}
.border-dark-yellow{border-color:#c4a000!important}
.border-light-orange{border-color:#fcaf3e!important}
.border-orange{border-color:#f57900!important}
.border-dark-orange{border-color:#ce5c00!important}
.border-light-red{border-color:#ef2929!important}
.border-red{border-color:#cc0000!important}
.border-dark-red{border-color:#a40000!important}
.border-light-brown{border-color:#e9b96e!important}
.border-brown{border-color:#c17d11!important}
.border-dark-brown{border-color:#8f5902!important}
.border-light-gray{border-color:#d3d7cf!important}
.border-gray{border-color:#babdb6!important}
.border-dark-gray{border-color:#888a85!important}
.border-white{border-color:#eeeeec!important}
.border-transparent{border-color:transparent!important}
.border-black{border-color:#2e3436!important}
