.light-purple,.light-purple-hover:hover,.light-purple-active:active{background-color:#ad7fa8!important;color:#eeeeec!important}
.purple,.purple-hover:hover,.purple-active:active{background-color:#75507b!important;color:#eeeeec!important}
.dark-purple,.dark-purple-hover:hover,.dark-purple-active:active{background-color:#5c3566!important;color:#eeeeec!important}
.light-blue,.light-blue-hover:hover,.light-blue-active:active{background-color:#729fcf!important;color:#eeeeec!important}
.blue,.blue-hover:hover,.blue-active:active{background-color:#3465a4!important;color:#eeeeec!important}
.dark-blue,.dark-blue-hover:hover,.dark-blue-active:active{background-color:#204a87!important;color:#eeeeec!important}
.light-green,.light-green-hover:hover,.light-green-active:active{background-color:#8ae234!important;color:#2e3436!important}
.green,.green-hover:hover,.green-active:active{background-color:#73d216!important;color:#2e3436!important}
.dark-green,.dark-green-hover:hover,.dark-green-active:active{background-color:#4e9a06!important;color:#eeeeec!important}
.light-yellow,.light-yellow-hover:hover,.light-yellow-active:active{background-color:#fce94f!important;color:#2e3436!important}
.yellow,.yellow-hover:hover,.yellow-active:active{background-color:#edd400!important;color:#2e3436!important}
.dark-yellow,.dark-yellow-hover:hover,.dark-yellow-active:active{background-color:#c4a000!important;color:#eeeeec!important}
.light-orange,.light-orange-hover:hover,.light-orange-active:active{background-color:#fcaf3e!important;color:#2e3436!important}
.orange,.orange-hover:hover,.orange-active:active{background-color:#f57900!important;color:#2e3436!important}
.dark-orange,.dark-orange-hover:hover,.dark-orange-active:active{background-color:#ce5c00!important;color:#eeeeec!important}
.light-red,.light-red-hover:hover,.light-red-active:active{background-color:#ef2929!important;color:#eeeeec!important}
.red,.red-hover:hover,.red-active:active{background-color:#cc0000!important;color:#eeeeec!important}
.dark-red,.dark-red-hover:hover,.dark-red-active:active{background-color:#a40000!important;color:#eeeeec!important}
.light-brown,.light-brown-hover:hover,.light-brown-active:active{background-color:#e9b96e!important;color:#2e3436!important}
.brown,.brown-hover:hover,.brown-active:active{background-color:#c17d11!important;color:#eeeeec!important}
.dark-brown,.dark-brown-hover:hover,.dark-brown-active:active{background-color:#8f5902!important;color:#eeeeec!important}
.light-gray,.light-gray-hover:hover,.light-gray-active:active{background-color:#d3d7cf!important;color:#2e3436!important}
.gray,.gray-hover:hover,.gray-active:active{background-color:#babdb6!important;color:#2e3436!important}
.dark-gray,.dark-gray-hover:hover,.dark-gray-active:active{background-color:#888a85!important;color:#eeeeec!important}
.white,.white-hover:hover,.white-active:active{background-color:#eeeeec!important;color:#2e3436!important}
.transparent,.transparent-hover:hover,.transparent-active:active{background-color:transparent!important;color:#2e3436!important}
.black,.black-hover:hover,.black-active:active{background-color:#2e3436!important;color:#eeeeec!important}

.text-light-purple,.text-light-purple-hover:hover,.text-light-purple-active:active{color:#ad7fa8!important}
.text-purple,.text-purple-hover:hover,.text-purple-active:active{color:#75507b!important}
.text-dark-purple,.text-dark-purple-hover:hover,.text-dark-purple-active:active{color:#5c3566!important}
.text-light-blue,.text-light-blue-hover:hover,.text-light-blue-active:active{color:#729fcf!important}
.text-blue,.text-blue-hover:hover,.text-blue-active:active{color:#3465a4!important}
.text-dark-blue,.text-dark-blue-hover:hover,.text-dark-blue-active:active{color:#204a87!important}
.text-light-green,.text-light-green-hover:hover,.text-light-green-active:active{color:#8ae234!important}
.text-green,.text-green-hover:hover,.text-green-active:active{color:#73d216!important}
.text-dark-green,.text-dark-green-hover:hover,.text-dark-green-active:active{color:#4e9a06!important}
.text-light-yellow,.text-light-yellow-hover:hover,.text-light-yellow-active:active{color:#fce94f!important}
.text-yellow,.text-yellow-hover:hover,.text-yellow-active:active{color:#edd400!important}
.text-dark-yellow,.text-dark-yellow-hover:hover,.text-dark-yellow-active:active{color:#c4a000!important}
.text-light-orange,.text-light-orange-hover:hover,.text-light-orange-active:active{color:#fcaf3e!important}
.text-orange,.text-orange-hover:hover,.text-orange-active:active{color:#f57900!important}
.text-dark-orange,.text-dark-orange-hover:hover,.text-dark-orange-active:active{color:#ce5c00!important}
.text-light-red,.text-light-red-hover:hover,.text-light-red-active:active{color:#ef2929!important}
.text-red,.text-red-hover:hover,.text-red-active:active{color:#cc0000!important}
.text-dark-red,.text-dark-red-hover:hover,.text-dark-red-active:active{color:#a40000!important}
.text-light-brown,.text-light-brown-hover:hover,.text-light-brown-active:active{color:#e9b96e!important}
.text-brown,.text-brown-hover:hover,.text-brown-active:active{color:#c17d11!important}
.text-dark-brown,.text-dark-brown-hover:hover,.text-dark-brown-active:active{color:#8f5902!important}
.text-light-gray,.text-light-gray-hover:hover,.text-light-gray-active:active{color:#d3d7cf!important}
.text-gray,.text-gray-hover:hover,.text-gray-active:active{color:#babdb6!important}
.text-dark-gray,.text-dark-gray-hover:hover,.text-dark-gray-active:active{color:#888a85!important}
.text-white,.text-white-hover:hover,.text-white-active:active{color:#eeeeec!important}
.text-transparent,.text-transparent-hover:hover,.text-transparent-active:active{color:transparent!important}
.text-black,.text-black-hover:hover,.text-black-active:active{color:#2e3436!important}

.border-light-purple,.border-light-purple-hover:hover,.border-light-purple-active:active{border-color:#ad7fa8!important}
.border-purple,.border-purple-hover:hover,.border-purple-active:active{border-color:#75507b!important}
.border-dark-purple,.border-dark-purple-hover:hover,.border-dark-purple-active:active{border-color:#5c3566!important}
.border-light-blue,.border-light-blue-hover:hover,.border-light-blue-active:active{border-color:#729fcf!important}
.border-blue,.border-blue-hover:hover,.border-blue-active:active{border-color:#3465a4!important}
.border-dark-blue,.border-dark-blue-hover:hover,.border-dark-blue-active:active{border-color:#204a87!important}
.border-light-green,.border-light-green-hover:hover,.border-light-green-active:active{border-color:#8ae234!important}
.border-green,.border-green-hover:hover,.border-green-active:active{border-color:#73d216!important}
.border-dark-green,.border-dark-green-hover:hover,.border-dark-green-active:active{border-color:#4e9a06!important}
.border-light-yellow,.border-light-yellow-hover:hover,.border-light-yellow-active:active{border-color:#fce94f!important}
.border-yellow,.border-yellow-hover:hover,.border-yellow-active:active{border-color:#edd400!important}
.border-dark-yellow,.border-dark-yellow-hover:hover,.border-dark-yellow-active:active{border-color:#c4a000!important}
.border-light-orange,.border-light-orange-hover:hover,.border-light-orange-active:active{border-color:#fcaf3e!important}
.border-orange,.border-orange-hover:hover,.border-orange-active:active{border-color:#f57900!important}
.border-dark-orange,.border-dark-orange-hover:hover,.border-dark-orange-active:active{border-color:#ce5c00!important}
.border-light-red,.border-light-red-hover:hover,.border-light-red-active:active{border-color:#ef2929!important}
.border-red,.border-red-hover:hover,.border-red-active:active{border-color:#cc0000!important}
.border-dark-red,.border-dark-red-hover:hover,.border-dark-red-active:active{border-color:#a40000!important}
.border-light-brown,.border-light-brown-hover:hover,.border-light-brown-active:active{border-color:#e9b96e!important}
.border-brown,.border-brown-hover:hover,.border-brown-active:active{border-color:#c17d11!important}
.border-dark-brown,.border-dark-brown-hover:hover,.border-dark-brown-active:active{border-color:#8f5902!important}
.border-light-gray,.border-light-gray-hover:hover,.border-light-gray-active:active{border-color:#d3d7cf!important}
.border-gray,.border-gray-hover:hover,.border-gray-active:active{border-color:#babdb6!important}
.border-dark-gray,.border-dark-gray-hover:hover,.border-dark-gray-active:active{border-color:#888a85!important}
.border-white,.border-white-hover:hover,.border-white-active:active{border-color:#eeeeec!important}
.border-transparent,.border-transparent-hover:hover,.border-transparent-active:active{border-color:transparent!important}
.border-black,.border-black-hover:hover,.border-black-active:active{border-color:#2e3436!important}
