.light-purple{background-color:#ad7fa8!important;color:#eeeeec}
.purple{background-color:#75507b!important;color:#eeeeec}
.dark-purple{background-color:#5c3566!important;color:#eeeeec}
.light-blue{background-color:#729fcf!important;color:#eeeeec}
.blue{background-color:#3465a4!important;color:#eeeeec}
.dark-blue{background-color:#204a87!important;color:#eeeeec}
.light-green{background-color:#8ae234!important;color:#2e3436}
.green{background-color:#73d216!important;color:#2e3436}
.dark-green{background-color:#4e9a06!important;color:#eeeeec}
.light-yellow{background-color:#fce94f!important;color:#2e3436}
.yellow{background-color:#edd400!important;color:#2e3436}
.dark-yellow{background-color:#c4a000!important;color:#eeeeec}
.light-orange{background-color:#fcaf3e!important;color:#2e3436}
.orange{background-color:#f57900!important;color:#2e3436}
.dark-orange{background-color:#ce5c00!important;color:#eeeeec}
.light-red{background-color:#ef2929!important;color:#eeeeec}
.red{background-color:#cc0000!important;color:#eeeeec}
.dark-red{background-color:#a40000!important;color:#eeeeec}
.light-brown{background-color:#e9b96e!important;color:#2e3436}
.brown{background-color:#c17d11!important;color:#eeeeec}
.dark-brown{background-color:#8f5902!important;color:#eeeeec}
.light-gray{background-color:#d3d7cf!important;color:#2e3436}
.gray{background-color:#babdb6!important;color:#2e3436}
.dark-gray{background-color:#888a85!important;color:#eeeeec}
.white{background-color:#eeeeec!important;color:#2e3436}
.transparent{background-color:transparent!important;color:#2e3436}
.black{background-color:#2e3436!important;color:#eeeeec}
